<head>
    <link rel="stylesheet" href="{{url_for('static', filename='smukumi.css')}}">
    <script type="text/javascript" src="{{url_for('static',filename='gatavs.js')}}"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div class="container-fluid p-5">
        <div class="row">
            <div class="col-4">
                <div class="row w-100">
                    Lūdzu pārbaudiet, vai iesniegtā informācija ir pareiza! 
                </div>
                <div class="row w-100"> 
                    <h2>Iesniedzēja vārds, uzvārds: 
                        <div class="font-weight-bolder border border-success rounded-pill table-success text-center p-2"> {{vards}} {{uzvards}}</div>
                    </h2>
                </div>
                <div class="row w-100">
                    <h3>Izvēlētā programma:
                        <div class="font-weight-bolder border border-success rounded-pill table-success text-center p-2">
                        {% if programma=='1'%}
                            Dabaszinātnes A
                        {%elif programma=='2'%}
                            Dabaszinātnes B
                        {%elif programma=='3'%}
                            Eiropas studijas ar 3. svešvalodu
                        {%else%}
                            Eiropas studijas bez 3. svešvalodas
                        {%endif%}
                        </div>
                    </h3>
                </div>
                <div class="row w-100">
                    <h4> Eksāmena numurs (tikai cipari): <div class="font-weight-bolder border border-success table-success rounded-pill text-center p-2"> {{numurs}} </div></h4>
                </div>
                <div class="row w-100">
                    <div  class="table-secondary">
                        <h5 class="border">Iekrāsotos kursus būs iespējams vēl mācību procesā mainīt.</h5>
                    </div>
                </div>
            </div>
            <div class="col-5">
                <div class="row">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th scope="col">Nosaukums</th>
                                <th scope="col">10.klase</th>
                                <th scope="col">11.klase</th>
                                <th scope="col">12.klase</th>
                            </tr>
                        </thead>
                        <tr class="font-weight-bolder table-info">
                            <th colspan="4">Vispārīgā līmeņa pamatkursi</th>
                        </tr>
                        <tr id="rezotra72">
                            <th scope="row">Vācu valoda (B1)</th>
                            <td>2</td>
                            <td>2</td>
                            <td>2</td>
                        </tr>
                        <tr id="rezotra73">
                            <th scope="row">Krievu valoda (B1)</th>
                            <td>2</td>
                            <td>2</td>
                            <td>2</td>
                        </tr>
                        <tr id="reztresa71">
                            <th scope="row">Franču valoda (B1)</th>
                            <td>4</td>
                            <td>3</td>
                            <td>2</td>
                        </tr>
                        <tr id="reztresa72">
                            <th scope="row">Vācu valoda (B1)</th>
                            <td>4</td>
                            <td>3</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <th scope="row">Kultūras pamati</th>
                            <td>3</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr id="rez17">
                            <th scope="row">Dabaszinības</th>
                            <td>4</td>
                            <td>4</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <th scope="row">Datorika</th>
                            <td>2</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row">Sports un veselība</th>
                            <td>2</td>
                            <td>3</td>
                            <td>3</td>
                        </tr>
                        <tr class="font-weight-bolder table-info">
                            <th colspan="4">Optimālā līmeņa pamatkursi</th>
                        </tr>
                        <tr>
                            <th scope="row">Latviešu valoda I</th>
                            <td>3</td>
                            <td>3</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row">Angļu valoda I (B2)</th>
                            <td>3</td>
                            <td>3</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row">Vēsture un Sociālās zinātnes I</th>
                            <td>3</td>
                            <td>4</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row">Literatūra I</th>
                            <td>3</td>
                            <td>3</td>
                            <td></td>
                        </tr>
                        <tr id="rez20">
                            <th scope="row">Kultūra un māksla I (vizuālā māksla vai mūzika)</th>
                            <td></td>
                            <td>2</td>
                            <td>1</td>
                        </tr>
                        <tr id="rez13">
                            <th scope="row">Fizika I</th>
                            <td>4</td>
                            <td>3</td>
                            <td></td>
                        </tr>
                        <tr id="rez14">
                            <th scope="row">Ķīmija I</th>
                            <td>3</td>
                            <td>3</td>
                            <td></td>
                        </tr>
                        <tr id="rez15">
                            <th scope="row">Bioloģija I</th>
                            <td>1</td>
                            <td>2</td>
                            <td></td>
                        </tr>
                        <tr id="rez16">
                            <th scope="row">Ģeogrāfija I</th>
                            <td>2</td>
                            <td>1</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row">Matemātika I</th>
                            <td>5</td>
                            <td>7</td>
                            <td id="mat25" class="table-secondary">3 vai 0</td>
                        </tr>
                        <tr id="rez22" class="table-secondary">
                            <th scope="row">Dizains un tehnoloģijas I</th>
                            <td></td>
                            <td>2</td>
                            <td>4</td>
                        </tr>
                        <tr id="rez23" class="table-secondary">
                            <th scope="row">Programmēšana I</th>
                            <td></td>
                            <td>2</td>
                            <td>4</td>
                        </tr>
                        <tr class="font-weight-bolder table-info">
                            <th colspan="4">Augstākā līmeņa padziļinātie kursi</th>
                        </tr>
                        <tr id="rez27" class="table-secondary" style="display: none;">
                            <th scope="row">Latviešu valoda un literatūra II</th>
                            <td></td>
                            <td></td>
                            <td>6</td>
                        </tr>
                        <tr id="rez26" class="table-secondary" style="display: none;">
                            <th scope="row">Angļu valoda II (C1)</th>
                            <td></td>
                            <td></td>
                            <td>6</td>
                        </tr>
                        <tr id="rez28" class="table-secondary" style="display: none;">
                            <th scope="row">Sociālās zinātnes II</th>
                            <td></td>
                            <td></td>
                            <td>6</td>
                        </tr>
                        <tr id="rez30" class="table-secondary" style="display: none;">
                            <th scope="row">Fizika II</th>
                            <td></td>
                            <td></td>
                            <td>6</td>
                        </tr>
                        <tr id="rez31" class="table-secondary" style="display: none;">
                            <th scope="row">Ķīmija II</th>
                            <td></td>
                            <td></td>
                            <td>6</td>
                        </tr>
                        <tr id="rez32" class="table-secondary" style="display: none;">
                            <th scope="row">Bioloģija II</th>
                            <td></td>
                            <td></td>
                            <td>6</td>
                        </tr>
                        <tr id="rez25" class="table-secondary" style="display: none;">
                            <th scope="row">Matemātika II</th>
                            <td></td>
                            <td></td>
                            <td>8</td>
                        </tr>
                        <tr id="rez29" class="table-secondary" style="display: none;">
                            <th scope="row">Programmēšana II</th>
                            <td></td>
                            <td></td>
                            <td>6</td>
                        </tr>
                        <tr>
                            <th scope="row">Projekta darbs</th>
                            <td></td>
                            <td></td>
                            <td>2</td>
                        </tr>
                        <tr class="font-weight-bolder table-info">
                            <th colspan="4">Specializētie kursi</th>
                        </tr>
                        <tr id="rez18">
                            <th scope="row">Eiropas kultūras telpa</th>
                            <td>2</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr id="rezspec38" style="display: none;" class="table-secondary">
                            <th scope="row">Papildu angļu valoda</th>
                            <td></td>
                            <td></td>
                            <td>2</td>
                        </tr>
                        <tr id="rezspec35" style="display: none;" class="table-secondary">
                            <th scope="row">Angļu literatūra</th>
                            <td></td>
                            <td>2</td>
                            <td>2</td>
                        </tr>
                        <tr id="rezspec41" style="display: none;">
                            <th scope="row" class="table-secondary">Krievu valoda A2</th>
                            <td id="spec4110" class="table-light"></td>
                            <td id="spec4111" class="table-secondary"></td>
                            <td id="spec4112" class="table-secondary"></td>
                        </tr>
                        <tr id="rezspec36" style="display: none;" class="table-secondary">
                            <th scope="row">Filozofijas pamati</th>
                            <td></td>
                            <td></td>
                            <td>2</td>
                        </tr>
                        <tr id="rezspec39" style="display: none;" class="table-secondary">
                            <th scope="row">Psiholoģijas pamati</th>
                            <td></td>
                            <td></td>
                            <td>2</td>
                        </tr>
                        <tr id="rezspec34" style="display: none;">
                            <th scope="row" class="table-secondary">Debates</th>
                            <td id="spec3410" class="table-light"></td>
                            <td id="spec3411" class="table-secondary"></td>
                            <td id="spec3412" class="table-secondary"></td>
                        </tr>
                        <tr id="rezspec37" style="display: none;">
                            <th scope="row" class="table-secondary">Publiskā uzstāšanās</th>
                            <td id="spec3710" class="table-light"></td>
                            <td id="spec3711" class="table-secondary"></td>
                            <td id="spec3712" class="table-secondary"></td>
                        </tr>
                        <tr id="rezspec40" style="display: none;">
                            <th scope="row"class="table-secondary">Robotika</th>
                            <td id="spec4010" class="table-light"></td>
                            <td id="spec4011" class="table-secondary"></td>
                            <td id="spec4012" class="table-secondary"></td>
                        </tr>
                        <tr class="table-warning">
                            <th scope="row">Pašlaik izvēlēto stundu skaits nedēļā:</th>
                            <td>{{klase10}}</td>
                            <td>{{klase11}}</td>
                            <td>{{klase12}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-3">
                <h4>Pašlaik izvēlēto kursu stundu skaits nedēļā:</h4>
                <p>10. klasē: {{klase10}} stundas. <br><div class="bg-warning font-weight-bolder">Līdz 01.07.2020. vēl iespējams izvēlēties specializētos kursus {{36-klase10}} stundu apjomā 10. klasei.</div></p>
                <p>11. klasē: {{klase11}} stundas. <br>Tehnoloģiju kursu izvēli būs jāapstiprina 10.klases beigās.</p>
                <p>12. klasē: {{klase12}} stundas. <br>Padziļināto kursu izvēli būs jāapstiprina 11.klases vidū.</p>
                <p>Pa visiem gadiem kopā: {{klase10+klase11+klase12}} stundas. <br> <span class="text-info"></span>
                    {% if (klase10+klase11+klase12 < 96) %}
                        Vēl būs nepieciešams izvēlēties kursus vismaz {{ 96-(klase10+klase11+klase12) }} stundu apjomā.
                    {% else %}
                        Pašlaik izvēlēto stundu skaits atbilst nepieciešamajam.
                    {% endif %} </span>
                </p>
                <button onclick="iesniegt()" class="btn-success rounded-lg">Iesniegt manu izvēli!</button>
                <button onclick="window.location.replace('/')" class="btn-danger rounded-lg">Izmainīt iesniegumu</button>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        palaist({{masivs|tojson}},{{tresa}},{{otra}},'{{vards}}','{{uzvards}}',{{programma}},{{numurs}})
    </script>
</body>