<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{url_for('static',filename='RAG_logo.png')}}" type="image/x-icon">
    <title>
      Mācību virzienu izvēlne
    </title>
 <!--   <link rel="stylesheet" href="./smukumi.css"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script type="text/javascript" src="{{url_for('static',filename='tests4.js')}}"></script>
    <script type="text/javascript" charset="UTF-8">
        window.onload = () => {
          const s = new Tests3("konteiners", "{{url_for('static',filename='info_logo.png')}}");
        }
    </script>
  </head>
  <body class="bg-light">
    <div class="container">
      <div class="row  bg-light">
        <div class="col-1">
          <a href="https://www.rag.lv/"><img src="{{url_for('static',filename='RAG_logo.png')}}" class="rounded float-left mr-3"></a>
        </div>
        <div class="col-11 ">
          <h1 class="text-center text-md-wrap">Rīgas Angļu ģimnāzijas vidusskolas kursu piedāvājums</h1>
        </div>
      </div>
      <p>Ar visu vispārīgo, optimālo un padziļināto kursu aprakstiem var iepazīties <a href="{{url_for('static',filename='VSK_kursi_isi_apraksti.pdf')}}" download>šajā </a> dokumentā</p>
    </div>
          <!-- spēles vieta -->
      <div id="konteiners"></div>  


  </body>
</html>