<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      Meklētājs
    </title>
 <!--   <link rel="stylesheet" href="./smukumi.css"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>
  <body class="bg-light">
      <a href="./">iet uz ievadīšanu</a>

        <div id="meklētājs">
            <!--Meklēšanas vieta-->
            <form method="POST">
                <h3>Meklētājs:   </h3>
                <input type="text" name="teksts">
                <br>
                <input type="submit" value="Meklēt vai sakārtot">
            </form>
        </div>
        <p>
        </p>
        <div id="rezultati">
            <table class="table-sm table-bordered table-striped">
              <tr class="sticky-top">
                <th>Nr.p.k.</th>
                <th>saite</th>
                <th>Nosaukums</th>
                <th>Anotācija</th>
                <th>Autors</th>
                {%set ns = namespace(esosais=0)%}
                {%for kategorija in kategs%}
                {%for vards in kategorija%}
                <th>
                    {{kategorija[vards]}}
                </th>
                {%endfor%}
                {%endfor%}
              </tr>
              {%for linija in linijas %}
              <tr>
                <td>{{loop.index}}</td>
                {{linija}}
                {% for vards in linija %}
                <td>
                    {%if loop.index==2%}
                        <a href='{{linija[vards]}}' target="_blank">
                    {%endif%}
                  {% if linija[vards] == None %}
                    Nav ierakstīts
                  {% else %}
                    {{linija[vards]}}
                  {% endif %}
                  {%if loop.index==2%}
                        </a>
              {%endif%}
          </td>
                {% endfor %}
              </tr>
              {% endfor %}
            </table>
          </div>  
    
    </body>
</html>

