<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      Meklētājs
    </title>
 <!--   <link rel="stylesheet" href="./smukumi.css"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>
  <body class="bg-light">
      <a href="./">iet uz ievadīšanu</a>

        <div id="meklētājs">
            <!--Meklēšanas vieta-->
            <form method="POST">
                <h3>Meklētājs:   </h3>
                <input type="text" name="teksts">
                <input type="radio" name="izvele" value="1" checked>
                <label for="1"><span>Iestājeksāmena kods (vai tā daļa)  </span></label>
                <input type="radio" name="izvele" value="2">
                <label for="2"><span>Uzvārds</span></label>
                <br>
                <p>Sakārtot visus ierakstus</p>
                <input type="radio" name="izvele" value="3">
                <label for="3">Pēc numura (pieteikšanās) dilstošā secībā</label>
                <input type="radio" name="izvele" value="8">
                <label for="8">Pēc Iestājeksāmena koda</label>
                <input type="radio" name="izvele" value="4">
                <label for="4">Pēc Uzvārda</label>
                <input type="radio" name="izvele" value="5">
                <label for="5">Pēc programmas izvēles</label>
                <input type="radio" name="izvele" value="7">
                <label for="7">Pēc otrās svešvalodas</label>
                <input type="radio" name="izvele" value="6">
                <label for="6">Pēc padziļinātajiem kursiem</label>
                <br>
                <input type="submit" value="Meklēt vai sakārtot">
            </form>
        </div>
        <p>
        </p>
        <div id="rezultati">
            <table class="table-sm table-bordered table-striped">
              <tr class="sticky-top">
                <th>Nr.p.k.</th>
                <th>Nr. (datubāzē speciālais)</th>
                <th>saite</th>
                <th>Nosaukums</th>
                <th>Anotācija</th>
                {%for kategorija in kategs%}
                <th>
                    {{kategorija[name]}}
                </th>
                {%endfor%}
              </tr>
              {%for linija in linijas %}
              <tr>
                <td>{{loop.index}}</td>
                {% for vards in linija %}
                <td>
                    {%if loop.index==2%}
                        <a href='{{linija[vards]}}' target="_blank">
                    {%endif%}
                  {% if linija[vards] == None %}
                    Nav ierakstīts
                  {% else %}
                    {{linija[vards]}}
                  {% endif %}
                  {%if loop.index==2%}
                        </a>
              {%endif%}
          </td>
                {% endfor %}
              </tr>
              {% endfor %}
            </table>
          </div>  
    
    </body>
</html>

