<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      Meklētājs
    </title>
 <!--   <link rel="stylesheet" href="./smukumi.css"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>
  <body class="bg-light">
      <a href="./">iet uz ievadīšanu</a>

        <div id="meklētājs">
            <!--Meklēšanas vieta-->
            <form method="POST">
                <h3>Meklētājs:   </h3>
                <input type="text" name="teksts">
                <br>
                <input type="submit" value="Meklēt vai sakārtot">
            </form>
        </div>
        <p>
        </p>
        <div id="rezultati">
            <table class="table-sm table-bordered table-striped">
              <tr class="sticky-top">
                <th>Nr.p.k.</th>
                <th>Nosaukums</th>
                <th>Saite</th>
                <th>Anotācija</th>
                <th>Autors</th>
                {%set ns = namespace(esosais=0,rinda=1,kategorija=0)%}
                {%for kategorija in kategs%}
                {%for vards in kategorija%}
                <th>
                    {{kategorija[vards]}}
                </th>
                {%endfor%}
                {%endfor%}
              {%for linija in linijas %}
              {%if ns.esosais != linija.id %}
              </tr>
              <tr>
                {%set ns.esosais = linija.id %}
                {%set ns.kategorija = linija.kategorija%}
                <td>{{ns.rinda}}</td>
                {%set ns.rinda = ns.rinda + 1%}
                <td>{{linija.nosaukums}}</td>
                <td><a href="{{linija.url}}">{{linija.url}}</a></td>
                <td>{{linija.atsauksme}}</td>
                <td>{{linija.autors}}</td>
                <td> {%for n in range(7)%}
                  {{n}}
                  {%endfor%}
                <!-- {{linija.tag_name}} -->
              {%else%}
                {%if ns.kategorija==linija.kategorija%}
                {%endif%}
              {%endif%}
              {% endfor %}
              </td>
              </tr>
            </table>
          </div>  
    
    </body>
</html>

